* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Arkipelago";
    src: url("./fonts/Arkipelago.woff2"), url("./fonts/Arkipelago.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.pg-banner {
    position: relative;
}

section {
    width: 100%;
}

a,
button {
    text-decoration: none;
    outline: 0px none !important;
}


/*  homepage banner  */


/*
.video-container{
  width: 100vw;
  height: 100vh;
}

 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
*/

.hp-banner {
    position: relative;
}

.hp-banner .video-container {}

.hp-banner .video-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.hp-banner .video-text-sliders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.hp-banner .video-text2 {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
text-align: center;
}



.hp-banner .video-text h1,.hp-banner .video-text2 h1,.hp-banner .video-text-sliders h1 {
    font-family: arkipelago;
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: 500;
}

.hp-banner .video-text h2 ,.hp-banner .video-text2 h2{
    font-family: "Playfair Display", serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 0.2em;
}

.hp-banner .video-text p,.hp-banner .video-text2 p,.video-text-sliders p  {
    font-size: 30px;
    margin-top: 56px;
}

.hp-banner .video-text .video-btn ,.hp-banner .video-text2 .video-btn,.hp-banner .video-text-sliders .video-btn {
    display: inline-block;
    margin: 0;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 11px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    transition: all 0.15s ease;
}

.hp-banner .video-text .video-btn:hover ,.hp-banner .video-text-s .video-btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.list-one {
    color: #b29058;
    font-size: 25px;
    padding: 8px 0;
}

.social-div-one img{
    width: 50px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #b1945c;;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
  }


/*  homepage banner  */

.video-bg-container {
    position: relative;
    overflow: hidden;
    height: 70vh;
}

.video-bg-player,
.video-bg-overlay,
.video-bg iframe {
    position: absolute;
}

.video-bg-player,
.video-bg iframe {
    pointer-events: none;
}

.video-bg-player {
    top: 50%;
    left: 50%;
    width: 120%;
    height: 0;
    padding-bottom: 66.25%;
    transform: translate(-50%, -50%);
}

.video-bg-overlay {
    width: 100%;
    height: 100%;
}

.video-bg iframe {
    height: 100%;
}

.video-bg-overlay {
    transition: all 0.25s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.video-bg-overlay--fadeOut {
    visibility: hidden;
    opacity: 0;
}

.video-bg iframe {
    top: 0;
    left: 0;
}

.open-gallery {
    position: absolute;
    bottom: 10px;
    z-index: 99999999;
    left: 10px;
    font-size: 40px;
    color: #fff;
}

.offcanvas-logo{
    width: 200px;
    margin: 0 auto;
}

.offcanvas-logo img{
    width: 100%;
}

@media (max-width: 480px) {
    .single-villa-img.with-bg {
        height: 170px;
        background-size: cover;
        background-attachment: inherit;
    }
}

@media (max-width: 768px) {
    .banner-overlar-div,.villa-text {
        display: none;
    }
    .video-bg-player {
        height: 100%;
        padding-bottom: 0;
        transform: translate(-115%, -50%);
    }
    .villa-details .inner-gallery {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .villa-details .inner-gallery a {
        width: 90px !important;
        height: 90px !important;
    }
    .video-bg-player .video-bg iframe {}
}

@media (min-width: 768px) {
    .video-bg-player {}
    .video-bg-player .video-bg iframe {
        width: 100%;
    }
}

.pg-header {
    background: #fff;
    position: relative;
    z-index: 1;
}

.pg-header .header-content {
    text-align: center;
    position: relative;
}

.pg-header .header-content .nav-call {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.pg-header .header-content .nav-call img {
    height: 60px;
    width: auto;
}

.pg-header .header-content .logo {
    height: 60px;
    /* padding: 10px; */
}

.pg-header .header-content .logo img {
    height: 100%;
    width: auto;
}

.offcanvas-menu {}

.offcanvas-menu ul {
    list-style: none;
}

.offcanvas-menu ul li {
    line-height: 1.6;
}

.offcanvas-menu ul li:not(:last-child) {
    border-bottom: 1px solid rgba(84, 84, 84, 0.11);
}

.offcanvas-menu ul li a {
    color: rgb(84, 84, 84);
    padding: 14px 0;
    display: block;
}

.offcanvas-menu ul li a {
    font-size: 20px;
}

.offcanvas-menu ul li a:hover {
    color: #b29058;
}


/*  inner page banner  */

.pg-banner {
    position: relative;
}

.pg-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.pg-banner .banner-bg {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg-banner .hero__title {
    font-family: "Arkipelago";
    font-size: 9vw;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: #fff;
}

.pg-banner .hero__filter {
    font-family: "Arkipelago";
    font-size: 9vw;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
}

.nav-menu {
    background: #fff;
    color: #b29058;
    min-width: 200px;
    text-align: center;
    border-radius: 0.25rem;
    padding: 7px 20px;
    border: 2px solid #b29058;
    text-decoration: none;
}

.nav-menu:hover {
    background: #b1945c;
    transition: all 0.15s ease;
    color: #ffffff;
}


/*  property-list page  */

.property-list {
    height: 660px;
    padding-right: 5px;
    /* overflow-y: none; */
}

.property-list .vila-blank {
    font-size: 18px;
    font-weight: 600;
    color: #dc3545;
    text-align: center;
    margin: 3rem 0;
}

.property-list .list-item {
    display: flex;
    border: 2px solid #e1e1e1;
    padding: 10px;
    /* width: 630px; */
    width: calc(100% - 10px);
    position: relative;
    height: fit-content;
    justify-content: space-between;
}

.property-list .list-item:hover {
    border: 2px solid #a7905e;
    transition: all 0.2s;
}

.property-list .list-item:not(:last-child) {
    margin-bottom: 24px;
}

.property-list .slide-item {}

.property-list .slick-slide {
    margin: 0 15px;
}

.property-list .slick-list {
    margin: 0 -15px;
}

.property-list .list-item .property-img {
    flex: 0 0 auto;
    width: 45%;
    overflow: hidden;
    position: relative;
}

.property-list .list-item .property-img img:hover {
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.9;
    transform: scale(1.1);
}

.property-list .list-item .property-img img {
    max-width: 100%;
    height: 100%;
}

.property-list .list-item .prop-list-info {
    flex: 0 0 auto;
    width: 50%;
    margin-left: 20px;
}

.property-list .prop-list-info {}

.property-list .prop-list-info .prop-titl {
    font-weight: 700;
}

.property-list .prop-list-info .prop-titl:hover {
    color: #0a4239;
}

.property-list .prop-list-info .info-title {
    font-size: 18px;
    color: inherit;
}

.property-list .prop-list-info .prop-opt {
    list-style: none;
    padding: 0;
}

.property-list .prop-list-info .prop-extra {}

.property-list .prop-list-info .prop-share {}

.property-list .prop-list-info .prop-share .btn {}

.property-list .prop-list-info .prop-share .btn:not(:last-child) {
    margin-right: 10px;
}

.property-list .prop-list-info .prop-share .btn.share1 {}

.property-list .prop-list-info .prop-share .btn.share2 {
    background: #46c756;
    border-color: #46c756;
}

.property-list .prop-list-info .prop-share .btn.share3 {}

.property-filter {}

.property-filter .filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.property-filter .filter-form #form_to {
    width: 275px;
}

.property-filter .filter-form .filter-submit {
    background: #b1945c;
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: 0.375rem;
    transition: all 0.15s ease;
    border: none;
}

.property-filter .filter-form .filter-submit:hover {
    background: #8c6e35;
}

.property-filter .filter-form .filter-reset {
    color: red;
}


/*  homepage featured-property slider  */

.slide-control {
    display: flex;
    align-items: center;
}

.slide-control a {
    color: #e1e1e1;
    line-height: 28px;
    padding: 0 0;
    border: 2px solid #e1e1e1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all 0.15s;
}

.slide-control a:hover {
    color: #a7905e;
    border: 2px solid #a7905e;
}

.property-list .prop-list-info .prop-share-new .share-new:not(:last-child),
.property_slider .prop-list-info .prop-share-new .share-new:not(:last-child) {
    margin-right: 7px;
}

.slide-control a:not(:last-child) {
    margin-right: 7px;
}

.featured-property .text-wrap {
    position: relative;
    margin-bottom: 60px;
    padding-top: 0px !important;
    text-align: center;
    margin-top: 60px;
}

.featured-property .text-wrap h4 {
    font-size: 425%;
    font-family: didot;
    margin-bottom: 0;
    font-weight: 500;
}

.featured-property .text-wrap .h2-old {
    font-size: 270%;
    font-family: arkipelago;
    font-weight: 100;
    color: #b29058;
    position: absolute;
    left: 45.5%;
    /* bottom: -22%; */
    top: 70%;
}

.featured-property .text-wrap h2 {
    font-size: 270%;
    font-family: arkipelago;
    font-weight: 100;
    color: #b29058;
    position: absolute;
    /* left: 45.5%; */
    /* bottom: -22%; */
    top: 58%;
    right: 34%;
}

.property_slider .slide-wrap {
    display: flex;
    border: 2px solid #e1e1e1;
    padding: 16px;
    width: calc(100% - 1px);
    position: relative;
}

.property_slider .slide-wrap:hover {
    border: 2px solid #a7905e;
    transition: all 0.2s;
}

.property_slider .slide-item {}

.property_slider .slick-slide {
    margin: 0 15px;
}

.property_slider .slick-list {
    margin: 0 -12px;
}

.property_slider .slide-wrap .property-img {
    flex: 0 0 auto;
    width: 50%;
}

.property_slider .slide-wrap .property-img img {
    max-width: 100%;
    height: auto;
}

.property_slider .slide-wrap .prop-list-info {
    flex: 0 0 auto;
    width: 50%;
    margin-left: 20px;
}

.property_slider .prop-list-info {}

.property_slider .prop-list-info .prop-titl {
    font-weight: 700;
}

.property_slider .prop-list-info .prop-titl:hover {
    color: #0a4239;
}

.property_slider .prop-list-info .info-title {
    font-size: 18px;
    color: inherit;
}

.property_slider .prop-list-info .prop-opt {
    list-style: none;
    padding: 0;
}

.prop-list-info .prop-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.prop-list-info .prop-extra {
    color: #084f0d;
    font-size: 20px;
    line-height: 1;
    text-align: right;
    padding-right: 10px;
    font-weight: 600;
    margin-left: 10px;
}

.prop-list-info .prop-extra span {
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

.prop-list-info .prop-extra span.season-price {
    color: #084f0d;
    font-size: 14px;
    font-weight: 600;
}

.property_slider .prop-list-info .prop-share {}

.property_slider .prop-list-info .prop-share .btn {}

.property_slider .prop-list-info .prop-share .btn:not(:last-child) {
    margin-right: 10px;
}

.property_slider .prop-list-info .prop-share .btn.share1 {}

.property_slider .prop-list-info .prop-share .btn.share2 {
    background: #46c756;
    border-color: #46c756;
}

.property-list .prop-list-info .prop-share-new .share-new img,
.property_slider .prop-list-info .prop-share-new .share-new img {
    width: 24px;
}

.filter-form .select2 .select2-selection {
    min-height: calc(2.5em + (0.75rem + 6px));
    padding-top: 1.625rem;
}

.select2-container--bootstrap-5 .select2-selection--single {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    background-image: url(data:image/svg + xml,
 %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="%23343a40"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="M2 5l6 6 6-6"/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.select2-container--bootstrap-5 .select2-selection {
    width: 100%;
    min-height: calc(1.5em + (0.75rem + 2px));
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
}

.filter-form .select2 {
    width: 200px !important;
}

.select2-container--bootstrap-5 {
    display: block;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}


/*  homepage featured-property slider  */

.hom-cus1 {
    font-size: 270%;
    font-family: didot;
    font-weight: 100;
    margin-top: -20px;
}

.filter-form .select2 {
    width: 200px !important;
}

.filter-form .select2 .select2-selection {
    min-height: calc(2.5em + (0.75rem + 6px));
    padding-top: 1.625rem;
}

.map-info-pop {
    width: 250px;
    min-height: 50px;
}

.map-info-pop .pop-img {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.map-info-pop .pop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-info-pop h5 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.map-info-pop h6 {
    font-size: 13px;
    margin-bottom: 3px;
}

.price-range {
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}

.price-range-slider {
    /* width: 100%; */
    float: left;
    padding: 8.5px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.price-range-slider .range-value {
    margin: 0;
}

.price-range-slider .range-value input {
    width: 100%;
    background: none;
    color: #000;
    font-size: 16px;
    font-weight: initial;
    box-shadow: none;
    border: none;
    margin: 0 0 12px 0;
    text-align: center;
}

.price-range-slider .range-bar {
    border: none;
    background: #000;
    height: 3px;
    width: 100%;
    margin-left: 3px;
    margin-top: -7px;
    margin-bottom: 7px;
}

.price-range-slider .range-bar .ui-slider-range {
    background: #b1945c;
}

.price-range-slider .range-bar .ui-slider-handle {
    border: none;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #b1945c;
    height: 17px;
    width: 17px;
    top: -0.42em;
    cursor: pointer;
    transition: all 0.15s ease;
}

.price-range-slider .range-bar .ui-slider-handle.ui-state-hover {
    border: 2px solid #8c6e35;
}

.price-range-slider .range-bar .ui-slider-handle+span {
    background: #06b9c0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-slider {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #b1945c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #b1945c;
    cursor: pointer;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* margin-top: 10px; */
}

.min-label,
.max-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}


/* 
.slider-gallery {
  width: 50%;
} */

.slide img {
    display: block;
    width: 100%;
    height: auto;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #212529;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: #585e64;
}

.nav-slide {
    width: 100px !important;
}


/* .slider-nav{
  position: absolute!important;
  bottom: 0;
} */

.slider-nav .slick-list.draggable {
    position: absolute;
    bottom: 0;
}

.slick-prev:before,
.slick-next:before {
    color: red;
    font-size: 30px;
}

.slick-prev {
    left: 0 !important;
    z-index: 9999;
}

.slick-next {
    right: 0 !important;
    z-index: 9999;
}

.arrow-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 40px;
}

.arrow-next {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 40px;
}


.img-social-icons img {
    width: 30px;
}

/* foote css start  */

.footer-section {
    /* border: 2px solid #a7905e; */
    transition: all 0.2s;
}


/* foote css end  */


/* media quary start */

@media only screen and (max-width: 576px) {
    .pg-header .header-content .logo img {
        height: 30px;
    }
    .pg-header .header-content .nav-call img {
        height: 30px;
        margin-left: -10px;
    }
}

@media (max-width: 480px) {
    .pg-banner .banner-bg {
        height: 170px;
        background-size: cover;
        background-attachment: inherit;
    }
}

@media only screen and (max-width: 1200px) {
    .property-list .list-item,
    .property_slider .slide-wrap {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .property-list .list-item .property-img,
    .property-list .list-item .prop-list-info {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .property-list .list-item .property-img,
    .property_slider .slide-wrap .property-img {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .property-list .list-item .prop-list-info,
    .property_slider .slide-wrap .prop-list-info {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .property-list .list-item,
    .property_slider .slide-wrap {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .property-filter .filter-form {
        flex-wrap: wrap;
    }

    .prop-footer {
       flex-wrap: wrap!important;
    }

    .property-list {
       height: 100%!important;
       gap: 20px;
        /* overflow-y: none; */
    }
}

@media (max-width: 389px) {
    .filter-form .form-floating,
    .filter-form .price-range2 {
        width: 100%;
    }
    .price-range {
        display: block;
    }
    .price-range-slider {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .villa-details .inner-gallery {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .popup-div {
        left: 0!important;
        top: 15%!important;
    }
}

.inline-gallery-container {
    width: 100%;
    /* set 60% height */
    height: 0;
    padding-bottom: 65%;
}




/*  property-details page  */
.villa-text{
    right: 10px;
    bottom: 10px;
    font-size: 22px;
    border: 3px solid #b29058;
    padding: 10px;
    color: #b29058;
    font-weight: 500;

}






.banner-overlar-div{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(24, 15, 44, 0.8) !important;
    height: 70vh;
    width: 30%;
}

.popup-backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(24, 15, 44, 0.8) !important;
    cursor: pointer;
    z-index: 999999;
    display: none;
    margin: 0;
}

.start-date label {
    margin: 0;
}

.close-popup {
    font-size: 30px;
    right: 10px;
    position: absolute;
}

.popup-div {
    position: absolute;
    background: #fff;
    color: #000;
    height: 50;
    /* transform: translate(40%, 10px); */
    height: 300px;
    top: 25%;
    left: 25%;
    z-index: 9999999;
}

.single-villa-img {
    width: 100%;
    /*height: 540px;*/
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.single-villa-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.single-villa-img.with-bg {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.single-villa-img .villa-img {
    width: 100%;
}

.single-villa-img .villa-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 100%;
}
.overlary-wrapper,.overlay-content{
    height: 100%;
}

.form_in{
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}


.single-villa-img .villa-title .hero__title {
    font-family: "Arkipelago";
    font-size: 9vw;
    font-weight: 500;
    margin: 0;
}

.single-villa-img .villa-title .hero__sub {
    font-family: "Playfair Display", serif;
    font-size: 5.5vw;
    font-weight: 400;
    /* line-height: 0.2em; */
    margin-top: -40px;
}

.single-villa-img .img-option {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.single-villa-img.with-bg .img-option {
    display: none;
}

.single-villa-img .img-option .img-prev,
.single-villa-img .img-option .img-next {
    width: 42px;
    height: 42px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    line-height: 42px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.single-villa-img .img-option .img-prev {
    border-radius: 0px 3px 3px 0px;
    left: 0;
}

.single-villa-img .img-option .img-next {
    border-radius: 3px 0px 0px 3px;
    right: 0;
}

.single-villa-img .img-option .img-vuall {
    background: #a7905e;
    color: #fff;
    width: auto;
    line-height: 1;
    padding: 8px 15px;
    border-radius: 3px;
    /* position: absolute; */
    /* bottom: 36px; */
    /* right: 12px; */
    float: right;
    margin-bottom: 36px;
}

.villa-details {
    color: #000;
    padding: 30px 0;
    /*padding-bottom: 0;*/
}

.villa-details .inner-gallery {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

.villa-details .inner-gallery a {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
}

.villa-details .inner-gallery a:not(:last-child) {
    margin-right: 16px;
}

.villa-details .inner-gallery a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.villa-details .inner-gallery a.more {
    position: relative;
}

.villa-details .inner-gallery a.more::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.villa-details .inner-gallery a.more::after {
    /* content: "More"; */
    content: attr(data-more-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    color: #fff;
    font-size: 20px;
    z-index: 1;
}

.villa-details .inner-gallery a.more img {
    filter: blur(3px);
}

.villa-details .villa-titl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.villa-details .villa-titl .titl {
    font-size: 24px;
}

.villa-details .villa-titl .titl small {
    font-size: 14px;
}

.villa-details .villa-location {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 700;
}

.villa-details .sub-titl {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #555555;
}

.villa-details .villa-titl .villa-share {
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
}

.villa-details .villa-titl .villa-share .fa-share-alt {
    font-size: 22px;
    margin-left: 5px;
}

.villa-details .broch-dl {
    transition: all 0.25s;
    color: #4e8be7;
}

.villa-details .broch-dl-new {
    background: #fff;
    color: #b29058;
    min-width: 200px;
    text-align: center;
    border-radius: 0.25rem;
    padding: 7px 0;
    border: 1px solid #b29058;
}

.villa-details .prop-chat {
    transition: all 0.25s;
    color: #00a884;
}

.villa-details .prop-chat-new {
    background: #003f36;
    color: #fff;
    min-width: 200px;
    text-align: center;
    border-radius: 0.25rem;
    padding: 9px 0;
}

.villa-details .broch-dl:hover {
    /*color: #A7905E;*/
}

.villa-details .detail-tab-box {}

.villa-details .detail-tab-box .nav-item {}

.villa-details .detail-tab-box .nav-item:not(:last-child) {
    margin-right: 5px;
}

.villa-details .detail-tab-box .nav-tabs .nav-link {
    border: 1px solid #e1e1e1;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    width: 130px;
}

.villa-details .detail-tab-box .nav-tabs .nav-link:hover,
.villa-details .detail-tab-box .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #a7905e;
    border-color: #a7905e;
}

.villa-details .detail-tab-box .tab-content>.tab-pane {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding: 25px;
}

.villa-details .villa-booking {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}

.villa-details .villa-booking .booking-titl {
    font-size: 24px;
    font-weight: 700;
}

.villa-details .villa-booking .booking-titl .unit {
    font-size: 14px;
}

.villa-details .villa-booking .all-price {
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}

.villa-details .villa-booking .booking-submit {
    background: #a7905e;
    color: #fff;
    width: 100%;
    line-height: 1;
    padding: 14px 0;
    border-radius: 3px;
}

.input-calendar-icon {
    background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 3H19V1H17V3H7V1H5V3H4C2.9 3 2 3.9 2 5V21C2 22.1 2.9 23 4 23H20C21.1 23 22 22.1 22 21V5C22 3.9 21.1 3 20 3ZM20 21H4V10H20V21ZM20 8H4V5H20V8Z' fill='%23323232'/%3E%3C/svg%3E") no-repeat, #f2f2f2;
    background-position: center right 7px;
    padding-right: 36px;
}

.villa-details .villa-sec-titl {
    font-size: 24px;
    font-weight: 600;
}

.villa-page-titl {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.add-btn,
.add-btn:focus {
    background: #a7905e;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    padding: 8px 20px;
}

.add-btn:hover {
    color: #ffffff;
}


/*  property-details page  */


.inline-gallery-container {
    width: 100%;

   
    height: 0;
    padding-bottom: 65%;
}