* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Arkipelago";
  src: url("./fonts/Arkipelago.woff2"), url("./fonts/Arkipelago.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.pg-banner {
  position: relative;
}

section {
  width: 100%;
}

a, button {
  text-decoration: none;
  outline: 0px none !important;
}

.pg-header {
  background: #fff;
  position: relative;
  z-index: 1;
}
.pg-header .header-content {
  text-align: center;
  position: relative;
}
.pg-header .header-content .nav-call {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.pg-header .header-content .nav-call img {
  height: 60px;
  width: auto;
}
.pg-header .header-content .logo {
  height: 50px;
  padding: 10px;
}
.pg-header .header-content .logo img {
  height: 100%;
  width: auto;
}
.offcanvas-menu {
}
.offcanvas-menu ul {
  list-style: none;
}
.offcanvas-menu ul li {
  line-height: 1.6;
}
.offcanvas-menu ul li:not(:last-child) {
  border-bottom: 1px solid rgba(84, 84, 84, 0.11);
}
.offcanvas-menu ul li a {
  color: rgb(84, 84, 84);
  padding: 14px 0;
  display: block;
}

.offcanvas-menu ul li a {
    font-size: 20px;
}
.offcanvas-menu ul li a:hover {
  color: #b29058;
}

/*  inner page banner  */
.pg-banner {
  position: relative;
}
.pg-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.pg-banner .banner-bg {
  height: 540px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pg-banner .hero__title {
  font-family: "Arkipelago";
  font-size: 9vw;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #fff;
}

.pg-banner .hero__filter {
  font-family: "Arkipelago";
  font-size: 9vw;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
}

.nav-menu {
  background: #fff;
  color: #b29058;
  min-width: 200px;
  text-align: center;
  border-radius: 0.25rem;
  padding: 7px 20px;
  border: 2px solid #b29058;
  text-decoration: none;
}

.nav-menu:hover {
    background: #b1945c;
    transition: all .15s ease;
    color:#ffffff;
}

/*  property-list page  */
.property-list {
  height: 660px;
  
  padding-right: 5px;
  /* overflow-y: none; */
}
.property-list .vila-blank {
  font-size: 18px;
  font-weight: 600;
  color: #dc3545;
  text-align: center;
  margin: 3rem 0;
}
.property-list .list-item {
  display: flex;
  border: 2px solid #e1e1e1;
  padding: 16px;
  /* width: 630px; */
  width: calc(100% - 10px);
  position: relative;
  height: fit-content;
}
.property-list .list-item:hover {
  border: 2px solid #a7905e;
  transition: all 0.2s;
}
.property-list .list-item:not(:last-child) {
  margin-bottom: 24px;
}
.property-list .slide-item {
}
.property-list .slick-slide {
  margin: 0 15px;
}
.property-list .slick-list {
  margin: 0 -15px;
}
.property-list .list-item .property-img {
  flex: 0 0 auto;
  width: 50%;
  overflow: hidden;

}

.property-list .list-item .property-img img:hover{
  transition: all 0.5s ease-in-out 0s;
  opacity: 0.9;
  transform: scale(1.1);
}
.property-list .list-item .property-img img {
  max-width: 100%;
  height: auto;
}
.property-list .list-item .prop-list-info {
  flex: 0 0 auto;
  width: 50%;
  margin-left: 20px;
}
.property-list .prop-list-info {
}
.property-list .prop-list-info .prop-titl {
  font-weight: 700;
}
.property-list .prop-list-info .prop-titl:hover {
  color: #0a4239;
}
.property-list .prop-list-info .info-title {
  font-size: 18px;
  color: inherit;
}
.property-list .prop-list-info .prop-opt {
  list-style: none;
  padding: 0;
}
.property-list .prop-list-info .prop-extra {
}
.property-list .prop-list-info .prop-share {
}
.property-list .prop-list-info .prop-share .btn {
}
.property-list .prop-list-info .prop-share .btn:not(:last-child) {
  margin-right: 10px;
}
.property-list .prop-list-info .prop-share .btn.share1 {
}
.property-list .prop-list-info .prop-share .btn.share2 {
  background: #46c756;
  border-color: #46c756;
}
.property-list .prop-list-info .prop-share .btn.share3 {
}
.property-filter {
}
.property-filter .filter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.property-filter .filter-form #form_to {
  width: 275px;
}
.property-filter .filter-form .filter-submit {
  background: #b1945c;
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.375rem;
  transition: all 0.15s ease;
  border: none;
}
.property-filter .filter-form .filter-submit:hover {
  background: #8c6e35;
}
.property-filter .filter-form .filter-reset {
  color: red;
}



/*  homepage featured-property slider  */
.slide-control {
	display: flex;
	align-items: center;
}
.slide-control a {
	color: #e1e1e1;
	line-height: 28px;
	padding: 0 0;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	transition: all .15s;
}
.slide-control a:hover {
	color: #A7905E;
	border: 2px solid #A7905E;
}
.property-list .prop-list-info .prop-share-new .share-new:not(:last-child), .property_slider .prop-list-info .prop-share-new .share-new:not(:last-child) {
  margin-right: 7px;
}
.slide-control a:not(:last-child) {
	margin-right: 7px;
}
.featured-property .text-wrap {
	position: relative;
	margin-bottom: 60px;
	padding-top: 0px !important;
	text-align: center;
	margin-top: 60px;
}
.featured-property .text-wrap h4 {font-size:425%;font-family:didot;margin-bottom: 0;font-weight:500;}
.featured-property .text-wrap .h2-old {font-size:270%;font-family:arkipelago;font-weight:100;color:#B29058;position: absolute;left: 45.5%;/* bottom: -22%; */top: 70%;}
.featured-property .text-wrap h2 {
	font-size: 270%;
	font-family: arkipelago;
	font-weight: 100;
	color: #B29058;
	position: absolute;
	/* left: 45.5%; */
	/* bottom: -22%; */
	top: 58%;
	right: 34%;
}

.property_slider .slide-wrap {
	display: flex;
	border: 2px solid #e1e1e1;
	padding: 16px;
	width: calc(100% - 1px);
	position: relative;
}
.property_slider .slide-wrap:hover {
	border: 2px solid #A7905E;
	transition: all .20s;
}
.property_slider .slide-item {}
.property_slider .slick-slide {
	margin: 0 15px;
}
.property_slider .slick-list {
	margin: 0 -12px;
}
.property_slider .slide-wrap .property-img {
	flex: 0 0 auto;
	width: 50%;
}
.property_slider .slide-wrap .property-img img {
	max-width: 100%;
	height: auto;
}
.property_slider .slide-wrap .prop-list-info {
	flex: 0 0 auto;
	width: 50%;
	margin-left: 20px;
}
.property_slider .prop-list-info {}
.property_slider .prop-list-info .prop-titl {
	font-weight: 700;
}
.property_slider .prop-list-info .prop-titl:hover {
	color: #0a4239;
}
.property_slider .prop-list-info .info-title {
	font-size: 18px;
	color: inherit;
}
.property_slider .prop-list-info .prop-opt {
	list-style: none;
	padding: 0;
}
.prop-list-info .prop-footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.prop-list-info .prop-extra {
	color: #084f0d;
	font-size: 20px;
	line-height: 1;
	text-align: right;
	padding-right: 10px;
	font-weight: 600;
	margin-left: 10px;
}
.prop-list-info .prop-extra span {
	font-size: 14px;
	color: gray;
	font-weight: 400;
}
.prop-list-info .prop-extra span.season-price {
	color: #084f0d;
	font-size: 14px;
	font-weight: 600;
}
.property_slider .prop-list-info .prop-share {}
.property_slider .prop-list-info .prop-share .btn {}
.property_slider .prop-list-info .prop-share .btn:not(:last-child) {
	margin-right: 10px;
}
.property_slider .prop-list-info .prop-share .btn.share1 {}
.property_slider .prop-list-info .prop-share .btn.share2 {
	background: #46c756;
	border-color: #46c756;
}

.property-list .prop-list-info .prop-share-new .share-new img, .property_slider .prop-list-info .prop-share-new .share-new img {
  width: 24px;
}


.filter-form .select2 .select2-selection {
  min-height: calc(2.5em + (0.75rem + 6px));
  padding-top: 1.625rem;
}

.select2-container--bootstrap-5 .select2-selection--single {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}
.select2-container--bootstrap-5 .select2-selection {
  width: 100%;
  min-height: calc(1.5em + (0.75rem + 2px));
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}


.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
}


.filter-form .select2 {
  width: 200px !important;
}

.select2-container--bootstrap-5 {
  display: block;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}


/*  homepage featured-property slider  */
.hom-cus1 {
	font-size: 270%;
	font-family: didot;
	font-weight: 100;
	margin-top: -20px;
}
.filter-form .select2 {
	width: 200px !important;
}
.filter-form .select2 .select2-selection {
	min-height: calc(2.5em + (0.75rem + 6px));
	padding-top: 1.625rem;
}
.map-info-pop {
	width: 250px;
	min-height: 50px;
}
.map-info-pop .pop-img {
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.map-info-pop .pop-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.map-info-pop h5 {
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.map-info-pop h6 {
	font-size: 13px;
	margin-bottom: 3px;
}

.price-range {
	margin-left: 20px;
	margin-right: 20px;
	display: none;
}



.price-range-slider {
	/* width: 100%; */
	float: left;
	padding: 8.5px 10px;
	border: 1px solid #ced4da;
	border-radius: .375rem;
}
.price-range-slider .range-value {
  margin: 0;
}
.price-range-slider .range-value input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
  margin: 0 0 12px 0;
  text-align: center;
}
.price-range-slider .range-bar {
	border: none;
	background: #000;
	height: 3px;
	width: 100%;
	margin-left: 3px;
	margin-top: -7px;
	margin-bottom: 7px;
}
.price-range-slider .range-bar .ui-slider-range {
  background: #b1945c;
}
.price-range-slider .range-bar .ui-slider-handle {
  border: none;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #b1945c;
  height: 17px;
  width: 17px;
  top: -0.42em;
  cursor: pointer;
  transition: all .15s ease;
}
.price-range-slider .range-bar .ui-slider-handle.ui-state-hover {
  border: 2px solid #8c6e35;
}
.price-range-slider .range-bar .ui-slider-handle + span {
  background: #06b9c0;
}



.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-range {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-slider {
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #b1945c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #b1945c;
  cursor: pointer;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* margin-top: 10px; */
}

.min-label,
.max-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/* 
.slider-gallery {
  width: 50%;
} */

.slide img {
  display: block;
  width: 100%;
  height: auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: blue;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: red;
}

.nav-slide{
  width: 100px!important;
}

/* .slider-nav{
  position: absolute!important;
  bottom: 0;
} */

.slider-nav .slick-list.draggable{
  position: absolute;
  bottom: 0;
}



.slick-prev:before,
.slick-next:before {
  color: red;
  font-size: 30px;
}
.slick-prev {
  left: 0!important;
  z-index: 9999;
}

.slick-next{
  right: 0!important;
  z-index:9999;
}


/* foote css start  */

.footer-section{
  border: 2px solid #a7905e;
  transition: all 0.2s;
}
/* foote css end  */




 /* media quary start */
 
@media only screen and (max-width: 576px) {
  .pg-header .header-content .logo img {
    height: 13px;
  }

  .pg-header .header-content .nav-call img {
    height: 30px;
    margin-left: -10px;
  }
}

@media (max-width: 480px) {
    .pg-banner .banner-bg {
        height: 170px;
        background-size: cover;
        background-attachment: inherit;
    }
}


@media only screen and (max-width: 1200px){
.property-list .list-item, .property_slider .slide-wrap {
    flex-direction: column;
    flex-wrap: wrap;
}

.property-list .list-item .property-img,.property-list .list-item .prop-list-info {
  flex: 0 0 auto;
  width: 100%;
}

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
.property-list .list-item .property-img, .property_slider .slide-wrap .property-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}



.property-list .list-item .prop-list-info, .property_slider .slide-wrap .prop-list-info {
  width: 100%;
  margin-left: 0;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
.property-list .list-item, .property_slider .slide-wrap {
    flex-direction: column;
    flex-wrap: wrap;
}


}


@media (max-width: 768px) {
.property-filter .filter-form {
    flex-wrap: wrap;
}




}

@media (max-width: 389px) {
  .filter-form .form-floating, .filter-form .price-range2 {
    width: 100%;
}

.price-range{
  display: block;
}

.price-range-slider{
  margin: 0;
  width: 100%;
}
}
















/* maps code  */

footer.site-footer .widget-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 50px;
}


footer.site-footer {
  background: #18191a;
  color: #fff;
  font-size: 14px;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

footer.site-footer .footer-widgets-holder, footer.site-footer .footer-widgets-holder .col-md-9 {
  padding: 0px 50px 50px 50px;
}
footer.site-footer .widget-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 50px;
}

footer.site-footer .widget-title .gg-first-word {
  font-weight: 400;
}

footer.site-footer .widget-title:after {
  display: block;
  content: '';
  width: 30px;
  height: 1px;
  background-color: #1abc9c;
  margin: 15px 0;
}

#bwmap-map {
  width: 100%;
  height: 252px;
}

.gm-style {
  font-family: eurofurence regular;
  font-size: 16px;
}


.gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}

.maps-div iframe{
  width: 100%;
}


.el-grid.nogap-cols {
  margin-bottom: 30px;
}

.el-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

@media (min-width: 992px)
.el-grid li.col-md-4 {
    width: 33.333%;
}

.el-grid.nogap-cols li {
    margin: 0;
    padding: 0;
}
.el-grid li {
    margin-bottom: 30px;
}
.isotope-item {
    z-index: 2;
}

.el-grid.nogap-cols li figure {
  /* margin-left: -1px; */
}

figure.effect-milo-sh {
  position: relative;
  overflow: hidden;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #0c0f21;
}
.el-grid figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
figure {
  margin: 0;
}

figure.effect-milo-sh img {
  width: 100%;
  height: auto;
  -webkit-transition: opacity 2.5s, -webkit-transform 2.5s;
  transition: opacity 2.5s, transform 2.5s;
  -webkit-transition-timing-function: cubic-bezier(.16, .3, .29, .99);
  transition-timing-function: cubic-bezier(.16, .3, .29, .99);
}

.el-grid figure img, .single figure.effect-milo img, .single figure.effect-milo-sh img {
  position: relative;
  display: block;
  /* min-height: 100%; */
  max-width: 100%;
  height: auto;
  opacity: 1;
}

figure.effect-milo-sh figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.el-grid figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.effect-milo-sh figcaption .el-grid-more {
  position: relative;
  display: block;
  height: 100%;
}

figure.effect-milo-sh figcaption .el-grid-more a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
}

figure.effect-milo-sh figcaption .el-grid-more a i {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  margin-top: -21px;
  font-size: 42px;
  line-height: 42px;
}

body.gg-gallery-template figure h4 {
  padding: 10px 20px;
  color: #838587;
  font-size: 11px;
  letter-spacing: 1px;
  width: auto;
  background: #fff;
}

figure.effect-milo-sh h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  margin: 0;
  width: 100%;
  text-align: left;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
}


figure.effect-milo-sh figcaption::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    content: '';
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: rotate3d(0,0,1,-45deg) scale3d(1,0,1);
    transform: rotate3d(0, 0, 1, -45deg) scale3d(2, 2, 1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

  figure.effect-milo-sh h4 .gg-first-word {
    font-weight: 700;
}